:root {
    /*FONT-SIZE*/
    /*header*/
    --fs-h-xl: 56px;
    --fs-h-l: 40px;
    --fs-h-m: 32px;
    --fs-h-s: 24px;
    --fs-h-xs: 20px;
    /*body*/
    --fs-b-m: 18px;
    --fs-b-s: 16px;
    /*font-weight*/
    --fw-e-b: 800;
    --fw-b: 700;
    --fw-m: 500;

    /*FONT-FAMILY*/
    --ff: 'Plus Jakarta Sans', sans-serif;

    /*LINE-HEIGHT*/
    /*header*/
    --lh-xl: 70px;
    --lh-l: 51px;
    --lh-m: 40px;
    --lh-s: 28px;
    /*body*/
    --lh-b-m: 28px;
    --lh-b-s: 26px;

    /*COLORS*/
    /*plain*/
    --violet: #666CA3;
    --dark-blue: #13183F;
    --grey: #83869A;
    --dark-pink: #F74780;
    --light-pink: #FFA7C3;
    --white: #FFFFFF;

    /*Gradients*/
    --grad-o-p: linear-gradient(#F02AA6, #FF6F48);
    --grad-b-p: linear-gradient(#4851FF, #F02AA6);

    /*buttons-border-radius*/
    --br: 2rem;
}

html {
    font-family: var(--ff);
    background: linear-gradient(white,#F0F1FF);;
}

main{
    margin: 25px 5% 0 5%;
}

body {
    margin: 0;
}

button {
    background-color: var(--dark-blue);
    border: none;
    border-radius: var(--br);
    color: var(--white);
    display: inline-block;
    font-family: var(--ff);
    font-size: var(--fs-b-s);
    font-weight: var(--fw-b);
    height: 50px;
    padding: 0;
    width: 140px;
}


/* ----------------------------------------------Horní lišta*/
nav {
    height: 50px;
    margin: auto;
    position: relative;
    width: 100%;
}

.logo {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    vertical-align: middle;
}

.nav-button {
    position: absolute;
    right: 0;
}

.nav-button:hover {
    background-color: var(--violet);
}


/* -------------------------------------------------Hlavní text*/

.main-text-panel {
    width: 100%;
}

.main-text-panel h1 {
    color: var(--dark-blue);
    line-height: (--lh-xl);
    font-size: var(--fs-h-l);
    font-weight: var(--fw-e-b);
    margin: 30px 0;
}

.nowrap {
    display: block;
    white-space: nowrap;
}

p {
    color: var(--grey);
    line-height: var(--lh-b-m);
    font-size: var(--fs-b-s);
    max-width: 450px;
    margin: 0 0 25px 0;
}

.main-text-button {
    background: linear-gradient(#FF6F48,#F02AA6);
    height: 56px;
    width: 167px;
}

.main-text-button:hover {
    background: linear-gradient(#FFB7A4, #F895D3);
    color: white;
}


/* -------------------------------------------------Hero container*/

.hero-panel {
    height: 300px;
    position: relative;
    margin: 40px auto;
    width: 100%;
    max-width: 400px;
}

.hero-panel h1 {
    display: inline-block;
    font-size: var(--fs-h-m);
    font-weight: var(--fw-e-b);
    line-height: var(--lh-m);
    margin: 0;
}

.hero-panel span {
    color:#666CA3;
    display: inline-block;
    font-size: 14px;
    font-weight: var(--fw-b);
    line-height: var(--lh-b-m);
}

.layer-top-upright {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 15px 25px rgb(128, 128, 128);
    display: inline-block;
    height: 75px;
    position: absolute;
    top: 0;
    padding: 15px 25px;
    right: 0;
    width: 65px;
    z-index: 1;
}

.layer-top-bottom-left {
    background-color: white;
    bottom: 0;
    border-radius: 1rem;
    box-shadow: 0 15px 25px rgb(128, 128, 128);
    display: inline-block;
    height: 70px;
    left: 0;
    padding: 15px 25px;
    position: absolute;
    width: 105px;
    z-index: 1;
}

.layer-bottom-hero {
    background: linear-gradient(#F02AA6, #FF6F48);
    border-radius: 50%;
    height: 253px;
    left: 50%;
    margin: auto;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 253px;
}

#image-hero {
    display: block;
    transform: translate(0, 20px);
    width: 100%;
}

/* -------------------------------------------------Courses container LAYOUT*/
.courses {
    display: flex;
    flex-direction: column;
}

.courses-cont {
    box-shadow: 0 15px 25px #F0F1FF;
    position: relative;
    margin: 15px 0;
}


/* -------------------------------------------------Courses container TEXT*/

.courses-cont-text {
    background-color: var(--white);
    border-radius: 1rem;
    height: 220px;
    margin-top: 25px;
    padding: 30px;
}

.courses-cont-text h3 {
    margin: 40px 0 0 0;

    font-size: var(--fs-h-xs);
    font-weight: var(--fw-e-b);
}

.courses-cont-text p {
    margin: 20px 0 20px 0;
    line-height: var(--lh-b-s);
    font-size: var(--fs-b-s);
    font-weight: var(--fw-m);
    width: 95%;
}

.courses-cont-text h4 {
    color: var(--dark-pink);
    margin: 0;
    font-size: 18px;
    font-weight: var(--fw-e-b);
    width: 95%;
}


.courses-cont-text:nth-of-type(1) h3 {
    color: var(--white);
    font-size: var(--fs-h-s);
    line-height: var(--lh-s);
    margin: 0;
}

.courses-cont-text:nth-of-type(1) {
    background: linear-gradient(#F02AA6, #FF6F48);
    color: var(--white);
    height: 60px;
}
/* -------------------------------------------------Courses container ICONS*/

.courses-cont-ico {
    background: linear-gradient(#F02AA6, #FF6F48);
    border-radius: 50%;
    left: 25px;
    position: absolute;
    height: 56px;
    width: 56px;
}

.courses-cont-ico img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    width: 40%;
}

/* ------------------------------------------------------------------Footer*/

footer {
    background-color: var(--dark-blue);
    height: 120px;
    margin-top: 40px;
    margin-left: -5px;
    margin-right: -5px;
    position: relative;
}

.footer-button {
    background: linear-gradient(#4851FF, #F02AA6);
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%);
}

.footer-logo {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(0, -50%);
}

.footer-button:hover {
    background: linear-gradient(#C1A2EF, #F895D3);
}


/* -------------------------------------------------Responzivita*/
/*2 položky na řádku*/

@media (min-width: 768px){

    /* -----------------------Text container*/
    .top-panel {
        display: flex;
        margin: 40px 0;
    }

    .main-text-panel h1 {
        color: red;
    }

    p {
        font-size: var(--fs-b-m);
        width:85%
    }

    /* -----------------------Hero container*/
    .hero-panel {
        height: 380px;
        margin: 0 auto;
    }

    .layer-bottom-hero {
        border-radius: 8rem;
        width: 216px;
        height: 380px;
    }

    #image-hero {
        position: absolute;
    }

    /* -----------------------Courses container*/
    .courses {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .courses > * {
        flex-basis: 48%;
    }

    #image-hero {
        position: absolute;
        transform: scale(1.1) translate(0, 65px);
        width: 100%;
    }

    .courses-cont-text:nth-of-type(1) {
        height: 150px;
        padding: 65px 30px;
    }

}

/* -------------------------------------------------Responzivita*/
/*3 položky na řádku*/
@media (min-width: 992px){
    .main-text-panel h1 {
        font-size: var(--fs-h-xl);
    }

    p {
        font-size: var(--fs-b-m);
    }
    
    .courses > * {
        flex-basis: 31%;
    }
}